<div class="register-form">
  <form method="post">
    <div class="modal-body d-flex flex-column align-items-center">
      <h1 class="modal-title mb-4" id="modalRegister">Register</h1>
      <div class="form-outline w-80 mb-4">
        <input class="form-control form-control-lg" type="username" name="username" id="register-username"
          maxlength="128" required>
        <label class="form-label" for="register-username">Username</label>
      </div>
      <div class="form-outline w-80 mb-4">
        <input class="form-control form-control-lg" type="email" name="email" id="register-email"
          placeholder="username@domain.com" maxlength="128" required>
        <label class="form-label" for="register-email">Email</label>
      </div>
      <div class="form-outline w-80 mb-4">
        <input class="form-control form-control-lg" type="password" name="password1" id="register-password1"
          maxlength="128" required>
        <label class="form-label" for="register-password1">Password</label>
      </div>
      <div class="form-outline w-80 mb-4">
        <input class="form-control form-control-lg" type="password" name="password2" id="register-password2"
          maxlength="128" required>
        <label class="form-label" for="register-password2">Password confirmation</label>
      </div>
      <button type="submit" class="btn btn-primary mb-4" formaction="{{ url_for('auth.register') }}">Register</button>
      <div class="mb-4">
        <p>Already a member? <a type="button" href="" data-mdb-toggle="modal" data-mdb-target="#modalLogin">Login</a>
        </p>
      </div>
    </div>
  </form>
</div>